@import "tailwindcss";

@theme{
    --color-background: : #FDFBF7; 
    --color-primary: #A68A64;
    --color-forground: #B89B72 ;
    --color-muted: #737373;
    --color-back:#FAF3E0;
    --color-button: #8E7258 ;
    --color-backshop: #ffffff;

    --font-Roboto:'Roboto';
}
@layer base{
    body{
        background-color: var(--color-background);
        color: var(--color-forground);
        font-family: var(--font-Roboto);
    }
    .container{
        @apply mx-auto;
        @apply px-0;
        @apply md:px-0;
    }
    h1{
        font-size: 4rem;
        line-height: 5rem;
        font-weight: 950px;
    }
    h2{
       font-size: 1.5rem;
        line-height: 3rem;
        font-weight: 500px;
    }
    h3{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 900px;
    }
    a,button{
        cursor: pointer;
    }
}
@utility row{
    @apply flex items-center;
}
@utility nav-link{
    @apply  text-sm font-medium cursor-pointer
          hover:text-primary
            hover:scale-115 inline-block transition-all duration-[.5s]
}
@utility shop{
    @apply  text-sm font-medium cursor-pointer py-3.5
          hover:text-primary
            hover:scale-105 inline-block transition-all duration-[.5s] shadow-2xl rounded-2xl
}
@utility buttonbay{
    @apply border border-back bg-back py-2 md:py-2 px-3.5 md:px-6 rounded-[5px]
                  hover:bg-button transition-all duration-[.5s]
}
@utility shoes{
    @apply bg-gray-100 text-center py-1  my-1 mx-1 rounded-2xl cursor-pointer font-semibold
           peer-checked:bg-black peer-checked:text-white hover:bg-gray-200

}
